*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}
img {
  display: block;
}
ul li {
  list-style: none;
}
#wrap {
  width: 1920px;
  margin: 0 auto;
}
/* sub-head */
.sub-head {
  height: 750px;
  background-image: url(../image/sub-main-image-01.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.sub-head-inner {
  width: 1500px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-head-inner a .sub-logo {
  padding: 20px;
  font-family: 'Tenada';
  font-size: 40px;
  color: black;
}
/* sub-head-nav */
.sub-head-inner .sub-nav{
  display: flex;
}
.sub-head-inner .sub-nav li{
  padding: 23px;
}
.sub-head-inner .sub-nav li .inter {
  font-family: 'GmarketSansMedium';
  font-size: 16px;
  font-weight: bold;
  color: black;
}
.sub-head-inner .sub-nav li .inter:hover {
  border-bottom: 1px solid black;
}
.sub-head-inner .sub-nav .submenu {
  display: none;
}

/* sub-head-icon */
.sub-head-inner .sub-icon-inner {
  width: 270px;
}
.sub-head-inner .sub-icon-inner ul{
  display: flex;
  justify-content: space-between;
}
.sub-head-inner .sub-icon-inner .sea {
  position: relative;
}
.sub-head-inner .sub-icon-inner .sea input {
  background: rgba(255, 255, 255, 0.6);
  color: #000;
  width: 220px;
  height: 30px;
  border-radius: 20px;
  border: none;    
  padding-left: 14px;
}
.sea input:focus {
  outline: none;
}
.sea input::placeholder{
  color: #000;
}
.sub-head-inner .sub-icon-inner .sea img {
  position: absolute;
  right: 10px;
  top: 3px;
}
.login img {margin-top: 4px;}

/* main-title-box */
.sub-head .title-text {
  position: absolute;
  left: 330px;
  top: 375px;
  text-align: center;
}
.title-text .title {
  font-family: 'NEXEN_TIRE_Bold';
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 3px;
  line-height: 40px;
} 
.title-text .desc {
  font-family: 'Pretendard-Regular';
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 65px;
}
.main-title-btn{
  display: flex;
  justify-content: center;
}
.title-text .main-title-btn a {
  display: inline-block;
  padding: 20px 35px;
  background: none;
  margin: 0 10px;
  font-family: 'Pretendard-Regular';
  font-size: 16px;
  font-weight: 800;
  border: 1px solid #000000b9;
  border-radius: 7px;
}
.title-text .main-title-btn a:hover {
  color: white;
  background-color: #000;
}
/* probuct */
.prob-inner {
  height: 649px;
  position: relative;
  margin-bottom: 142px;
}
.prob-main-slide {
  width: 659px;
  height: 458px;
  display: flex;
  overflow: hidden;
  position: absolute;
  left: 330px;
  top: 95.5px;
}
.prob {
  width: 659px;
  transition: 2s;
}
.prob img {
  background: rgba(0,0,0,0.03);
}
.prob-main-slide input {
  display: none;
}
.prob-image-btn {
  position: absolute;
  width: 659px;
  bottom: 0px;
  display: flex;
  justify-content: center;
}
.prob-btn {
  width: 193px;
  height: 105px;   
  margin: 0 12px;
  cursor: pointer;
  transition: 1s;
}
.prob-img1 {
  background-image: url(../image/prob-slider-01.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.prob-img2 {
  background-image: url(../image/prob-slider-02.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.prob-img3 {
  background-image: url(../image/prob-slider-03.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#prob-btn1:checked ~ .prob-first {
  margin-left: 0;
}
#prob-btn2:checked ~ .prob-first {
  margin-left: -659px;
}
#prob-btn3:checked ~ .prob-first {
  margin-left: -1318px;
}

.prob-auto {
  position: absolute;
  width: 659px;
  bottom: 0px;
  display: flex;
  justify-content: center;
}
.prob-auto div {
  width: 193px;
  height: 105px;
  margin: 0 12px;
  background: rgba(0,0,0,0.03);
  cursor: pointer;
  transition: 1s;
}
#prob-btn1:checked ~ .prob-auto .prob-auto-btn1 {
  border-bottom: 2px solid black;
}
#prob-btn2:checked ~ .prob-auto .prob-auto-btn2 {
  border-bottom: 2px solid black;
}
#prob-btn3:checked ~ .prob-auto .prob-auto-btn3 {
  border-bottom: 2px solid black;
}
/* prob-text-box */
.prob-text-box {
  position: absolute;
  top: 150px;
  right: 450px;
}
.prob-text-box h1 {
  font-family: 'NEXEN_TIRE_Bold';
  font-size: 30px;
  margin-bottom: 19px;
} 
.prob-drop-down input[id*="drop-down"] {
  display: none;
}
.prob-drop-down input[id*="drop-down"] + label {
  display: block;
  text-align: center;
  font-family: 'Pretendard-Regular';
  font-size: 18px;
  font-weight: 800;
  padding: 15px 20px;
  border-top: 1px solid #c9c9c9c9;
  color: black;
  cursor: pointer;
  position: relative;
}
.prob-drop-down input[id*="drop-down"] + label em {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  display: inline-block;
  background-image: url(../icon/drop-down-icon01.png);
  background-repeat: no-repeat;
}
.prob-drop-down input[id*="drop-down"] + label + div {
  max-height: 0;
  transition: all .35s;
  overflow: hidden;
  background-color: #ececec;
  font-family: 'Pretendard-Regular';
  font-size: 14px;
}
/* 내용 -  */
.prob-drop-down input[id*="drop-down"] + label + div p {
  display: inline-block;
  padding: 20px;
}
.prob-drop-down input[id*="drop-down"]:checked + label + div {
  max-height: 100px;
  padding: 20px;
}
.prob-drop-down input[id*="drop-down"]:checked + label em {
  background-image: url(../icon/drop-down-icon02.png);
  background-size: contain;
  background-repeat: no-repeat;
}
/* desc-inner */
.desc-inner {
  display: flex;
  flex-direction: column;
}
.desc-inner .title {
  font-family: 'TheJamsil5Bold';
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 106px;
}
.desc-box {
  margin: 0 auto;
  margin-bottom: 111px;
  width: 1154px;
  display: flex;
  justify-content: space-between
}
.desc-box:nth-child(2) {
  flex-direction: row;
}
.desc-box:nth-child(3) {
  flex-direction: row-reverse;
}
.desc-box .desc-text {
  width: 425px;
  margin-top: 126px;
}
.desc-text .desc-title {
  font-family: 'Pretendard-Regular';
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 15px;
}
.desc-text .desc-desc {
  font-family: 'Pretendard-Regular';
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #494949;
} 
/* Gradation Banner */
.grad-inner {
  display: flex;
  margin-bottom: 175px;
}
.grad-box {
  width: 960px;
  height: 580px;
  background: linear-gradient(247.2deg, #2B3AC5 21.08%, #4B58D0 34.77%, #5E48B3 49.25%, #A732C1 71.19%, #A428A7 85.23%, #A21DA5 96.18%);
}
.grad-shadow {
  height: 580px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 14px 15px 40px rgba(237, 236, 236, 0.25);
  position: relative;
}
.grad-text {
  width: 473px;
  position: absolute;
  left: 244px;
  top: 248px;
  text-align: center;
}
.grad-text .title {
  font-family: 'Pretendard-Regular';
  font-size: 24px;
  font-weight: 800;
  color: white;
  margin-bottom: 13px;
}
.grad-text .desc {
  font-family: 'Pretendard-Regular';
  font-size: 16px;
  font-weight: 400;
  color: white;
}
/* icon*/
.icon-box {
  display: flex;
  justify-content: center;
  margin-bottom: 140px;
}
.icon {
  width: 261px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
  text-align: center;
}
.icon-image {
  width: 163px;
  height: 163px;
  border-radius: 50%;
  margin-bottom: 42px;
}
.icon .title {
  font-family: 'Pretendard-Regular';
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 15px;
}
.icon .desc {
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 15px;
}
/* all gap series */
.seri-inner{
  margin-bottom: 160px;
}
.seri-inner > .title {
  font-family: 'Pretendard-Regular';
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 70px;
}
.seri-inner .title .tenada {
  font-family: 'Tenada';
  font-size: 36px;
  display: inline-block;
  margin-right: 20px;
}
.seri-box {
  display: flex;
  justify-content: center;
}
.seri-box .seri {
  width: 360px;
  height: 380px;
  margin: 0 10px;
  position: relative;
}
.seri img {
  margin-bottom: 20px;
}
.seri .title {
  font-family: 'Pretendard-Regular';
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 8px;
}
.seri .desc {
  width: 300px;
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 22px;
  color: #818181;
}
.seri a {
  position: absolute;
  bottom: 0;
  font-family: 'Pretendard-Regular';
  font-size: 16px;
  font-weight: 600;
}
.seri a:hover{
  border-bottom: 2px solid black; 
}
/* 사양 및 세부 정보 수정 */
/* 구성품 수정 */